.headline {
  background-color: #41b5e8;
  font-weight: bold;
  color: white;
  padding: 15px 0;
  text-align: center;
  font-size: 18px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logoutBtn {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 20px;
  background-color: transparent;
  border: none;
}

.logoutBtn img {
  width: 100%;
  height: 100%;
}

.backButton {
  border: none;
  background: none;
  position: absolute;
  left: 15px;
  top: 18px;
}

.backButton img {
  height: 20px;
}
