.loader {
  border: 4px solid rgb(231, 231, 231);
  border-top-color: #41b5e8;
  border-radius: 50%;
  min-width: 70px;
  min-height: 70px;
  max-width: 70px;
  max-height: 70px;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
