.plusSign {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #41b5e8;
  padding: 10px;
  border: 2px solid white;
  outline: none;
  position: fixed;
  bottom: 80px;
  right: calc((100vw / 2) - 25px);
  box-shadow: 0 0 17px -8px black;
}

.plusSign:focus {
  background-color: #313944;
  box-shadow: 0 0 17px 0 black;
}

.plusSign img {
  width: 40px;
  height: 40px;
}

.tinyMessage {
  color: grey;
  font-weight: bold;
  padding: 20px 60px;
  font-size: 20px;
  text-align: center;
}
