.container {
  display: flex;
  padding: 10px;
  background-color: white;
  margin: 10px 0;
}

.measureImage {
  height: 60px;
  width: 110px;
  object-fit: contain;
  object-position: center;
}

.measureInfo {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 20px;
  justify-content: space-between;
  flex-grow: 1;
}

.measureTitle {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.infoContainer {
  display: flex;
  align-items: center;
}

.ytbLink {
  height: 20px;
}

.ytbLogoImage {
  width: 30px;
  object-fit: cover;
  margin-right: 10px;
}

.unitContainer {
  text-transform: capitalize;
  font-size: 16px;
}

.unitContainer span {
  font-weight: bold;
  color: grey;
}

.link {
  color: black;
  text-decoration: none;
}
