.link {
  width: 25vw;
  height: 60px;
  background-color: #313944;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.linkImage {
  width: 35px;
  height: 30px;
  padding-bottom: 3px;
  object-fit: cover;
}

.linkTitle {
  font-size: 12px;
  font-weight: bold;
}

.links {
  display: flex;
  position: fixed;
  bottom: 0;
}

.activeLink {
  background-color: #41b5e8;
}
