.headline {
  background-color: white;
}

.headlineControl {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  position: relative;
  color: #4d565f;
}

.dateHolder {
  font-size: 18px;
  text-transform: lowercase;
}

.headlineControl a {
  position: absolute;
  height: 20px;
}

.headlineControl .left {
  left: 20px;
}

.headlineControl .right {
  right: 20px;
}

.headlineControl a img {
  cursor: pointer;
  height: 20px;
  object-fit: cover;
  object-position: center;
}

.percent {
  position: absolute;
  width: 108px;
  font-size: 12px;
  text-align: center;
  top: calc(108px / 2 - (49px / 2));
  left: 0;
  color: rgb(110, 122, 122);
}

.percent span {
  font-size: 30px;
  font-weight: bold;
}

.measurementsContainer {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

/* Circle necessary two classes (circleSize and storeSize) */
.circleSize {
  width: 108px;
  height: 108px;
}

.strokeSize {
  stroke-dasharray: 314;
  stroke-dashoffset: 314;
  stroke-width: 6px;
}
